<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Versificator</title>
	<atom:link href="http://localhost/static-sites/kateness.com-wp/feed/" rel="self" type="application/rss+xml" />
	<link>http://localhost/static-sites/kateness.com-wp</link>
	<description>tips for life</description>
	<lastBuildDate>Thu, 28 Aug 2014 03:51:42 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.1.12</generator>
	<item>
		<title>Review: Made in Chelsea NYC Episode 1</title>
		<link>http://localhost/static-sites/kateness.com-wp/2014/08/review-made-in-chelsea-nyc-episode-1/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2014/08/review-made-in-chelsea-nyc-episode-1/#comments</comments>
		<pubDate>Thu, 28 Aug 2014 03:39:27 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.kateness.com/?p=1235</guid>
		<description><![CDATA[This is for my niece Jessica who suggested I watch the new series of MIC in NYC. I actually haven&#8217;t kept up with MIC but I have to admit I was intrigued to see how they&#8217;d display my new home city&#8230;and whether we go to any of the same places&#8230; Opening quote &#8220;American girls are [&#8230;]]]></description>
				<content:encoded><![CDATA[<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">This is for my niece Jessica who suggested I watch the new series of MIC in NYC.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">I actually haven&#8217;t kept up with MIC but I have to admit I was intrigued to see how they&#8217;d display my new home city&#8230;and whether we go to any of the same places&#8230;</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">Opening quote &#8220;American girls are much more open and willing to try new things&#8221; Stevie. Oh good, I feel like we&#8217;re starting as we mean to go on with some nice national stereotypes.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">We begin with some stock images of Grand Central, the Empire State Building, and the eponymous crosswalk sign. WELCOME TO NYC!!! Of course the boys are driving into the city in a convertible. OF COURSE. Living the dream.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">&#8220;There&#8217;s nothing better than a bit of debauchery&#8221; says Victoria while sipping champagne at the Loeb Boathouse in Central Park. Well honey, you are in the right place. If only we could all afford to drink there.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">Cut to a super awkward brunch party in &#8220;midtown west&#8221; the location of which I couldn&#8217;t identify because it looks like every midtown rooftop bar ever&#8230;replete with champagne being poured into Spencer&#8217;s gammy mouth and pancakes stuffed into faces. I don&#8217;t know about you but that&#8217;s how I do brunch. Rosie, verbose as ever says &#8220;It&#8217;s like a religion here to go to brunch on a sunday&#8221; and while I don&#8217;t disagree I don&#8217;t think it was necessary for them to go on to list every breakfast item they could think of. WE GET IT.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">Then there was a competition to see who could be the biggest bitch (spoiler alert: it&#8217;s all of them). Even though she&#8217;s a bitch too I kind of like Lucy Watson but maybe that&#8217;s because all I can think is omg she looks like Leighton Meester. Rosie was on form later when she refers to Lucy as &#8220;so cold, she&#8217;s frozen!&#8221; (seriously that&#8217;s the best you&#8217;ve got?) and Louise follows up with &#8221; I&#8217;m done with people that are that neggy&#8221;. Neggy. Really? Neggy. Please don&#8217;t let this be the new &#8216;totes&#8217;.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">When Rosie was talking about all of the many people they hate she said &#8220;This city is so big, if we don&#8217;t want to bump into each other we won&#8217;t necessarily have to&#8221;, at which point I laughed out loud and yelled &#8220;New York is a village&#8221; at the tv. You have much to learn my pretties. </span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">I also laughed out loud when they zoomed out on Lucy&#8217;s &#8220;Murray Hill apartment&#8221; which just happens to be directly above both my pharmacy and my gym. If only it wasn&#8217;t clearly filmed months before actual summer (they&#8217;re wearing way too many layers for actual NYC summer, we might have been friends).</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">Lucy makes friends with Billie, the hot New Yorker who the boys immediately hit on. I have to say the Americans in this show make the Brits look really nerdy and uncool. They seem really out of their element and seem to be developing weird ticks such as Steve&#8217;s attempt to use the word &#8220;Rad&#8221; which Billie deadpan tells him she doesn&#8217;t think &#8220;anyone ever really did that&#8221; and for reasons that I don&#8217;t understand all of the men were constantly rolling up their tshirt sleeves revealing pasty, scrawny arms. Just no. Also added to this list: the whole scene where the boys play baseball at the downtown Murray Bergtraum field. SO cringeworthy.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">Add in a few more stock NYC experiences&#8230;girls yoga session where Rosie says of the instructor &#8220;I could feel his dick on my back&#8221; thus giving a whole new meaning to hot yoga, sushi in fairy-lit Bryant Park (obvious but ok so it really is lovely there) and Binky meets her sister&#8230;of course at the Grand Central clock, place of every emotional encounter ever.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">In other weird news the new American male Alik (who works in fashion darrrling) hits on Louise (at Steve and Proudlock&#8217;s insanely massive NoHO apartment obvs) intensely and scarily, with the fastest date locking-down I&#8217;ve ever seen. His crowning compliment being &#8220;you&#8217;re pleasant&#8221;&#8230;and she still said yes. Man those American men have it easy.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">Even though I live in and LOVE NYC I found myself vaguely annoyed by the constant self-congratulating about being in New York. Wondering if I can make it through the rest of the season.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">And true to form the episode ends with Spencer being a dick and salting Stevie&#8217;s (the only likeable one) game with Billie by getting a date with her himself. She says yes but I think she was just being polite. I&#8217;m going to give her the benefit of the doubt.</span></span></p>
<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #c0c0c0;">Predictions for future episodes: the one where they say &#8220;who goes to Brooklyn?&#8221; but still end up at a Williamsburg loft party with bearded tattooed hipsters anyway. The one where they go clubbing in the meat-packing and the girls throw drinks in each other&#8217;s faces. The one where they take the subway for once and proclaim themselves born and bred New Yorkers.</span></span></p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2014%2F08%2Freview-made-in-chelsea-nyc-episode-1%2F&amp;title=Review%3A%20Made%20in%20Chelsea%20NYC%20Episode%201" id="wpa2a_2"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2014/08/review-made-in-chelsea-nyc-episode-1/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>The Gamer Book of Great Quotes</title>
		<link>http://localhost/static-sites/kateness.com-wp/2013/10/the-gamer-book-of-great-quotes/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2013/10/the-gamer-book-of-great-quotes/#comments</comments>
		<pubDate>Wed, 23 Oct 2013 03:25:14 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.thekateness.com/?p=1225</guid>
		<description><![CDATA[&#8220;I saw them at a cafe in Sundance and got to chill by the stage &#8230;But I liked them before that&#8221; &#8220;There&#8217;s still time&#8230;to become an alcoholic poet I mean. But I would support you in your life decision.&#8221; &#8220;I just had this vision of you being sued for sexual harassment and it goes to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-size: small;"><span style="color: #c0c0c0;">&#8220;I saw them at a cafe in Sundance and got to chill by the stage <insert blatant name dropping>&#8230;But I liked them before that&#8221; </p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">&#8220;There&#8217;s still time&#8230;to become an alcoholic poet I mean. But I would support you in your life decision.&#8221;</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">&#8220;I just had this vision of you being sued for sexual harassment and it goes to courr and your entire defense is you yelling &#8220;But I&#8217;m British?&#8221; and you get off not guilty.&#8221;</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">&#8220;Everyone knows only bad people like white chocolate.&#8221;</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">&#8220;You should call in sick tomorrow: Bronco-chitis.&#8221;</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Ben Gamer &#8211; gentleman, scholar, raconteur</p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2013%2F10%2Fthe-gamer-book-of-great-quotes%2F&amp;title=The%20Gamer%20Book%20of%20Great%20Quotes" id="wpa2a_4"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2013/10/the-gamer-book-of-great-quotes/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>96. We are not static&#8230;</title>
		<link>http://localhost/static-sites/kateness.com-wp/2013/08/96-we-are-not-static/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2013/08/96-we-are-not-static/#comments</comments>
		<pubDate>Fri, 23 Aug 2013 18:12:26 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.thekateness.com/?p=1217</guid>
		<description><![CDATA[So It&#8217;s been about 18 months since I wrote anything on this blog&#8230;which is weird since it used to be so important to me. But things change, and I guess that&#8217;s the whole point of this post. I feel like the older we get the more we assume that we have ourselves figured out. And [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-size: small;"><span style="color: #c0c0c0;">So It&#8217;s been about 18 months since I wrote anything on this blog&#8230;which is weird since it used to be so important to me. But things change, and I guess that&#8217;s the whole point of this post.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I feel like the older we get the more we assume that we have ourselves figured out. And to some extent it&#8217;s true. Every experience we have helps us refine what we like and don&#8217;t like in life. I&#8217;m really glad I&#8217;m not the same as I was when I was 22. But it&#8217;s foolish to believe that this process will ever stop, and why should it?</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I&#8217;ve been in the USA for 2 years now, and I just had a little party to celebrate. I dressed up in stars and stripes and sang along to the star-spangled banner. Obviously this was done in jest, but would I have done it 2 years ago? Probably not. I like to think that I&#8217;ve always had a good sense of fun, but I&#8217;m so much more confident 2 years on, care so much less what people think of me. It&#8217;s refreshing. Living as an ex-pat has been so good for me, it has allowed me to experience so much more, to explore parts of my personality that I never knew existed, to challenge assumptions I had about myself.</p>
<ul>
	<span style="font-size: small;"><span style="color: #c0c0c0;">
<li>I&#8217;m a yoga enthusiast (despite previously believing that it was a) for hippies, and b) I was entirely too inflexible)</li>
<p>	<span style="font-size: small;"><span style="color: #c0c0c0;">
<li>I run (despite believing that I couldn&#8217;t breathe because I was too unfit)</li>
<p>	<span style="font-size: small;"><span style="color: #c0c0c0;">
<li>Before I moved to NY I could never relax, and so kept my calendar purposely over-busy. Now some of my favourite days are the ones where I just wander round my neighbourhood, sit by the waterfront, eat some ice-cream, do nothing really.</li>
<p>	<span style="font-size: small;"><span style="color: #c0c0c0;">
<li>I overcame my fear of people reading my fiction by signing up for classes that also allowed me to make some wonderful friends</li>
<p>	<span style="font-size: small;"><span style="color: #c0c0c0;">
<li>I assumed that I hated sports because I didn&#8217;t understand them but now I go to watch baseball with friends (actually quite fun!) and now have a football team and am getting to know a whole new group of people through that</li>
<p>	<span style="font-size: small;"><span style="color: #c0c0c0;">
<li>I used to think that I would only ever date brits because noone else could possibly understand me. HA!</li>
<p>	<span style="font-size: small;"><span style="color: #c0c0c0;">
<li>I used to struggle to spend any time alone because it made me feel anxious&#8230;now I&#8217;m single AND living alone and it&#8217;s totally fine, sometimes totally awesome (this week I even got rid of a spider all by myself yo!)</li>
</ul>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">This is just a small sampling.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I criticised my ex for having a certain vision of me, that frustrated him when I couldn&#8217;t live up to it. But the reality is that I&#8217;m just as guilty of doing this to myself. Every day I tell myself that I am a certain way, that I like certain things. But the reality is I have no idea what I really need or want from life.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">When I was in India I met so many interesting people and we talked a lot about marriage. Nearly everyone told me that they thought arranged marriages were successful because their parents picked people who were actually good for them, because we tend to get it to so wrong ourselves. Now I&#8217;m not saying I want my choice taken away, but it did get me thinking that perhaps I&#8217;d been approaching this all wrong.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I&#8217;ve dated so many people that were completely wrong for me, because they matched a list of self-selected criteria that I believed to be important. For me that tended to be shared hobbies, shared love of music and films, superficial stuff. When I look at the best couples I know most of them have barely anything in common on a superficial level. I think everybody has some non-negotiables, usually surrounding beliefs, family plans, etc. It&#8217;s important that you allign close enough there but everything else is really just white noise.It&#8217;s what keeps it interesting. You should be with someone who challenges your opinions and assumptions, who opens you up to new activities that you may end up loving. And if you don&#8217;t love them, that&#8217;s fine too, but at least you know you haven&#8217;t let something pass you by.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">So I guess this is me saying that I&#8217;m going to be open-minded and not close off my options here. It&#8217;s important to assess your choices, to change your mind. There are some really big questions in life&#8230;Where do I want to live, what job do I want to do, who do I want to be with? Wouldn&#8217;t you want to be sure that you&#8217;d explored all of your options?Â Some of it will stick, some of it won&#8217;t. But just try not to judge me too harshly while I&#8217;m flip-flopping around in the meantime.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">&#8220;Life is not a static thing. The only people who do not change their minds are incompetents in asylums, those who can&#8217;t are those in cemeteries.&#8221; Everett Dirksen</p>
<p>&nbsp;</p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2013%2F08%2F96-we-are-not-static%2F&amp;title=96.%20We%20are%20not%20static%E2%80%A6" id="wpa2a_6"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2013/08/96-we-are-not-static/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>95. Dear England&#8230;</title>
		<link>http://localhost/static-sites/kateness.com-wp/2012/04/95-dear-england/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2012/04/95-dear-england/#comments</comments>
		<pubDate>Thu, 05 Apr 2012 18:18:51 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.thekateness.com/?p=1209</guid>
		<description><![CDATA[Dear England, I don&#8217;t know quite how to tell you this but I think we should just be friends. I&#8217;ve been thinking about this for a while and so I&#8217;ve decided not to come home just yet. I don&#8217;t want you to think that you did anything wrong. It&#8217;s not you, it&#8217;s me. You are [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-size: small;"><span style="color: #c0c0c0;">Dear England,</span></span></p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I don&#8217;t know quite how to tell you this but I think we should just be friends. I&#8217;ve been thinking about this for a while and so I&#8217;ve decided not to come home just yet.</span></span></p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I don&#8217;t want you to think that you did anything wrong. It&#8217;s not you, it&#8217;s me. You are great and I&#8217;ve loved being with you, but we&#8217;re just in different places right now.</span></span></p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I guess what I&#8217;m trying to say is that I love you, but I&#8217;m not in love with you. You want more than I&#8217;m prepared to give and you should have someone who really appreciates you.</span></span></p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I feel like we should have some time apart, see other places, try new things, and if we come back together then it was meant to be. You&#8217;re going to make someone really happy someday if you&#8217;d just lighten up a bit. Life doesn&#8217;t always have to be so gloomy.</span></span></p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I want you to know that I&#8217;ll never forget what you&#8217;ve done for me. Please don&#8217;t hate me.</span></span></p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Fondly,</span></span></p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Kate</span></span></p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">P.S. You&#8217;ve got tons of Kates anyway, what&#8217;s one less?</span></span></p>
<p>&nbsp;</p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2012%2F04%2F95-dear-england%2F&amp;title=95.%20Dear%20England%E2%80%A6" id="wpa2a_8"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2012/04/95-dear-england/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>94. Be adventurous&#8230;</title>
		<link>http://localhost/static-sites/kateness.com-wp/2012/01/94-be-adventurous/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2012/01/94-be-adventurous/#comments</comments>
		<pubDate>Sat, 14 Jan 2012 02:48:11 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.thekateness.com/?p=1190</guid>
		<description><![CDATA[â€œMan cannot discover new oceans unless he has the courage to lose sight of the shore.â€ Andre Gide Welcome to 2012 everyone. It&#8217;s a new year and I&#8217;m sure most of you have made resolutions. As always I have about 10 million resolutions&#8230;lose weight, get fit, procrastinate less, write more. But really the biggest commitment [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-size: small;"><span style="color: #c0c0c0;"><em>â€œMan cannot discover new oceans unless he has the courage to lose sight of the shore.â€ </em>Andre Gide</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Welcome to 2012 everyone. It&#8217;s a new year and I&#8217;m sure most of you have made resolutions. As always I have about 10 million resolutions&#8230;lose weight, get fit, procrastinate less, write more. But really the biggest commitment I have made this year is to be more adventurous. </p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">My biggest adventure of late has been giving internet dating a go. I feel like I could write a full-length book about it already. The whole thing has been an interesting and at times nerve-wracking experience. From filling in a profile about yourself (Do I sound like a dick? Have I said the right things to attract the right person?) to gawping at random people&#8217;s photos (they look nice in 2 of their pictures but their eyes look a bit dodgy on the other 3, which ones are more accurate?) it&#8217;s a pretty unusual way to pass your time. </p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">In the online world because you have no physical chemistry to drive things you can start to get very picky and/or jump to conclusions. Vegetarian? Oh it&#8217;d never work. He thinks <em>City and Colour</em>&#8216;s second album is better than the first?? He must have issues. Lists Lolita as a favourite book&#8230;probably a sex pest. It can get out of control.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Then of course there are the times that you are reminded how incredibly small the world is. The third suggested match it gave me&#8230;someone I work with. Awkward. Then a couple of days ago my friend gets called by someone I&#8217;ve never met saying &#8216;your friend Kate is an okcupid match for my friend Andy, make sure she goes out with him, k?&#8217; Erm what?! Is it impossible to meet anyone completely random these days?? The power of the internet astounds me sometimes. Our degrees of separation are so much smaller. </p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Eventually someone messages you and you decide whether to reply. I&#8217;ve had everything from the downright odd &#8216;the thing people notice about me first is my dead eye&#8217; to the extremely dull &#8216;it&#8217;s cold out today, your thoughts?&#8217;. Then there are the people who read I&#8217;m English and try to relate to me my talking about Manchester United. *sigh*</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">But if they did make it past my fortress of indifference then we&#8217;d start chatting. I&#8217;ve actually met up with 2 guys so far. One date was fine, he was surprisingly nice and normal, but just not for me. Unfortunately though okcupid screwed me over. You can rate people&#8217;s profiles and if you give someone 4 or 5 stars it sends them an email saying &#8216;Kate chose you&#8230;&#8217;. After our date I didn&#8217;t click anything but it sent it to him anyway. I didn&#8217;t realise until he replied saying &#8216;yay, see you next week?!&#8217;. Argh now I&#8217;m going to sound like a jerk explaining that one&#8230;</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">The other guy was a little different. His first message to me said &#8216;I like your hello kitty shirt, I have the same one in yellow.&#8217; A good sense of humour is always a killer with me, so we started chatting and eventually met up last friday. I  guess it&#8217;s not surprising that I was actually really nervous on my way to meet him at a wine bar. But as soon as we sat down the conversation flowed really easily and I had a great time. We have remarkably similar tastes in music and it&#8217;s weird to think that in days gone by you could be surrounded by people with so much in common and have only a very small chance of ever meeting them. </p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">We actually decided to go out again the following day. We walked in the highline park, went to the cinema, and had some drinks. It was really nice to not have any expectations and just enjoy having someone to wander round the city with, sharing stories and learning about each other.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">In my limited experience of American men if I think it went well it means I will probably never see him again. Even if he doesn&#8217;t fancy me I&#8217;d at least like us to be friends. It&#8217;s hard to read someone you know so little about. But my inner adventurer says that I at least had 2 days of fun that I wouldn&#8217;t have had otherwise. And that&#8217;s alright with me.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;"><em>Be the light of the silvery moon<br />
Be the blessed breeze<br />
Be the one who will do what thou wilt<br />
Who will do as you please.</em><br />
The Blessed Breeze by Fruit Bats</p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2012%2F01%2F94-be-adventurous%2F&amp;title=94.%20Be%20adventurous%E2%80%A6" id="wpa2a_10"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2012/01/94-be-adventurous/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>93. A Letter to my 16 year old self&#8230;</title>
		<link>http://localhost/static-sites/kateness.com-wp/2012/01/93-a-letter-to-my-16-year-old-self/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2012/01/93-a-letter-to-my-16-year-old-self/#comments</comments>
		<pubDate>Tue, 10 Jan 2012 03:50:34 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.thekateness.com/?p=1193</guid>
		<description><![CDATA[My friend Caitlin inspired me to do one of these. Dear Kate, Stop chatting to people on msn messenger and listen to me please. You&#8217;ve done no revision for your GCSEs and your parents are freaking out. Somehow you&#8217;ll do really well but you&#8217;re really going to have to up your game for &#8216;A&#8217; levels [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-size: small;"><span style="color: #c0c0c0;">My friend Caitlin inspired me to do one of these.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Dear Kate,</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Stop chatting to people on msn messenger and listen to me please. You&#8217;ve done no revision for your GCSEs and your parents are freaking out. Somehow you&#8217;ll do really well but you&#8217;re really going to have to up your game for &#8216;A&#8217; levels and university as it won&#8217;t be a cakewalk.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Yes, you think you&#8217;re really bohemian and that when you grow up you&#8217;ll be one of those people who permanently backpacks around India. You won&#8217;t. Sorry to burst the bubble but you&#8217;re actually much more conventional than you think. Don&#8217;t get me wrong, you&#8217;ll travel, yes-siree. You&#8217;ve been to so many places already and the list just keeps growing. It&#8217;ll give you the sense of freedom you so long for, and will open you up to so many new experiences. It&#8217;ll be your driving force.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">But you&#8217;ll also have a very serious and sensible job. By the time you&#8217;re 26 you&#8217;ll have one of those vague job titles that doesn&#8217;t really mean anything except, &#8216;I&#8217;m doing alright&#8217;. I know this sounds kind of boring, but that&#8217;s how you pay for all of those exciting holidays, see? Oh and you also get your own office which you get to personalise with pictures of cupcakes and Hello Kitty. So it&#8217;s not all bad.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I know you think you&#8217;re going to marry Andy. You&#8217;re not. I&#8217;m sorry, no way to sugar-coat that. He&#8217;s a sweet boy but he&#8217;s not the one for you. Enjoy it while it lasts and try not to be too hard on him when he fails to visit you at university. I know the breakup CD he gives you is unconventional, but keep it, it&#8217;s got some pretty cool bands on there.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Now listen carefully. You&#8217;re going to get your heart broken. At least twice, and no doubt many more times after that. If I could protect you from that I really would. But these things happen. I know you&#8217;ll find this cliche but it really will make you stronger.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">We still don&#8217;t know if you&#8217;ll ever get married, but you know what you&#8217;ll learn to be ok with that. You&#8217;ll learn to be happy on your own and that&#8217;s awesome. Your tastes won&#8217;t change that much. You&#8217;ll still dream of finding a deep, poetic boy who&#8217;ll write songs about you and stay up late discussing current affairs. But you&#8217;ve not managed to date one of them in all this time. And if I&#8217;ve learnt anything, what you want is usually the opposite of what you really need. So if you end up settling down with a monosyllabic plumber from the suburbs I won&#8217;t be the least surprised. Just don&#8217;t believe in someone who doesn&#8217;t believe in you.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Your love for writing will remain but for god&#8217;s sake don&#8217;t waste your time on all that angsty poetry. You&#8217;ll find it years later and be mortified. Especially because your Mum&#8217;s read them too. You write them because you feel lonely, and that people don&#8217;t understand you. Honestly, that&#8217;s not unusual, it&#8217;s called hormones (and probably in your case a bit of bad luck too). But in the future you have so many wonderful friends from every walk of life! They&#8217;ll make you laugh and even more importantly they will look after you when things get really bad. You will owe them.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Oh and you&#8217;ll live in New York one day. No, seriously!!!! You&#8217;ll feel more at home there than any place you&#8217;ve been before. It will revitalize you. You&#8217;ll push yourself to try new things, meet new people. You&#8217;ll tumble out the contents of life like a puzzle and make it your own.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">It&#8217;s going to be amazing, and awful, and hard, and glorious. You&#8217;ll have some successes, you&#8217;ll fuck other things up. Just promise me you won&#8217;t ever lose your sense of humour and if anyone ever calls you boring please punch them.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Love<br />
Kateness<br />
xxx</p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2012%2F01%2F93-a-letter-to-my-16-year-old-self%2F&amp;title=93.%20A%20Letter%20to%20my%2016%20year%20old%20self%E2%80%A6" id="wpa2a_12"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2012/01/93-a-letter-to-my-16-year-old-self/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>92. Live in New York&#8230;</title>
		<link>http://localhost/static-sites/kateness.com-wp/2011/09/92-live-in-new-york/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2011/09/92-live-in-new-york/#comments</comments>
		<pubDate>Wed, 21 Sep 2011 02:09:09 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.thekateness.com/?p=1182</guid>
		<description><![CDATA[So I haven&#8217;t really written about New York since I got here. It&#8217;s been a month now but it feels like forever. The first couple of weeks were a whirlwind of house-hunting, bank-pestering, and furniture-assembling, so I&#8217;ve only now got time to get back to some semblance of normality. Not that anything is normal in [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-size: small;"><span style="color: #c0c0c0;">So I haven&#8217;t really written about New York since I got here. It&#8217;s been a month now but it feels like forever. The first couple of weeks were a whirlwind of house-hunting, bank-pestering, and furniture-assembling, so I&#8217;ve only now got time to get back to some semblance of normality. Not that anything is normal in New York.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I feel so different here, I feel so independent. Every day I do something different, go somewhere new. There&#8217;s always a new bar, a new restaurant, a new fad to try. I&#8217;m pushing myself. I&#8217;ve been speed dating, roller skating, been on random adventures with brand new friends. I&#8217;m bold here, I say yes, I don&#8217;t look back. I&#8217;m about to start volunteering at NY Animal Care and Control by walking and caring for the dogs in the shelter. On the 26th I start my creative writing class where I wil be pushed even further with weekly assignments that my tutors and classmates will critique. I met a man who said I had an amazing zest for life. I realised that I like being described that way. It&#8217;s nice to find that zest again after yet another dark time. </p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I was worried that living here wouldn&#8217;t be as good as visiting, that the appeal would wear off. It&#8217;s true that living in NY is tough and tiring. People work hard. Everything&#8217;s expensive. Simple things like food shopping and laundry need to be shoehorned into your life. I never get enough sleep. If I stay in, I have this gnawing feeling that I&#8217;m missing out. But I&#8217;m learning to find a balance. I live in Williamsburg, Brooklyn which is a welcome respite from hectic manhattan. It&#8217;s hip and and chilled but there&#8217;s still so much to do. I like it. Even if it is the only place in NY where I look like a retiring wall-flower.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">New York is amazing and exciting and inspiring. I work 1 block from the Empire State Building, and when I walk from the subway, stopping off for my morning starbucks, it&#8217;s hard to not feel like I&#8217;m in a movie and at any point someone will shout &#8216;cut!&#8217; and the backdrop will fall away. There are certain moments that still wow me. Getting the JMZ subway across the river to Manhattan with the skyline twinkling&#8230;walking through mid-town staring up at the buildings&#8230;strolling through the highline park on the weekend which looks like a jungle inbetween skyscrapers. At moments like these I smile and wonder how this ever happened to me.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">The absolute best thing about New York is the people. I feel like I meet a new person virtually every day and they are so interesting and friendly. For whatever reason Brits are treated so well. Everyone tells me they love my accent, they approach me to in bars, they give me free cupcake samples. I should have moved here years ago! The absolute worst thing about New York is the people. When they don&#8217;t know where they are going, or they walk into you, or they stop abruptly in the street. And on the subway. And in shops. </p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Of course I still feel sad sometimes, I have my ups and downs. Last time things got tough G saved me. This time I&#8217;m letting New York do the hard work in piecing my life back together. If you ever feel lonely in New York just walk outside on the bustling streets, look up at the towering buildings, feel the energy of this crazy city. Around every corner is a new opportunity waiting to be discovered. And you know what, you might be alone, but sometimes New York is all the company you need. </p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;"><em>&#8216;I would give the greatest sunset in the world for one sight of New York&#8217;s skyline. Particularly when one can&#8217;t see the details. Just the shapes. The shapes and the thought that made them. The sky over New York and the will of man made visible. What other religion do we need? &#8230;Let them come to New York, stand on the shore of the Hudson, look and kneel. When I see the city from my window &#8211; no, I don&#8217;t feel how small I am &#8211; but I feel that if a war came to threaten this, I would throw myself into space, over the city, and protect these buildings with my body.&#8217; </em><em><strong>The Fountainhead</strong></em></p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2011%2F09%2F92-live-in-new-york%2F&amp;title=92.%20Live%20in%20New%20York%E2%80%A6" id="wpa2a_14"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2011/09/92-live-in-new-york/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>91. Try speed dating&#8230;</title>
		<link>http://localhost/static-sites/kateness.com-wp/2011/09/91-try-speed-dating/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2011/09/91-try-speed-dating/#comments</comments>
		<pubDate>Mon, 19 Sep 2011 02:24:55 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.thekateness.com/?p=1175</guid>
		<description><![CDATA[&#8230;I guess. I mean I must say I wasn&#8217;t a big fan of speed dating but I tried to make the best of it. 4 of us went speed dating at The Delancey Rooftop Bar and it was quite an experience. We encountered 50 men for 2 minutes each (which i hear pretty much hasn&#8217;t [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-size: small;"><span style="color: #c0c0c0;">&#8230;I guess. I mean I must say I wasn&#8217;t a big fan of speed dating but I tried to make the best of it. 4 of us went speed dating at The Delancey Rooftop Bar and it was quite an experience. We encountered 50 men for 2 minutes each (which i hear pretty much hasn&#8217;t been done since the 60s&#8230;) and since I was at the end of the line I actually only had about 1 minute before the bell rang. Sometimes, however this was plenty of time.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">It wasn&#8217;t exactly a broad spectrum of people. Practically everyone worked in law or finance. As a creative type I found it hard to muster the enthusiasm required. I must say my job title didn&#8217;t go down too well either. &#8216;I&#8217;m a senior manager for a publishing company&#8217; kind of just met with glazed eyes and a slight yawn. I knew I should have said I was an air hostess, damn it.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I did meet some characters though. There was the slightly creepy older guy who kept calling me &#8216;lovely, lovely, Kate&#8217; at the start of every single sentence and staring at my thighs. There was the guy who looked like he was trapped in the 90s who misheard my reference to &#8216;speed dating&#8217; as a reference to &#8216;being on speed&#8217;, a topic on which he had much to say. Probably my favourite moment of the evening was when a guy sat down and said &#8216;I bet you live in Williamsburg, Brooklyn&#8217;! I was pretty impressed. Apparently he worked it out from my shoes&#8230;</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">After the 30th time of hearing &#8216;wow i love your accent, are you from London?&#8217; I was kind of at breaking point, and poor generic man 31 got a bit of an ear-bashing on English geography and the fact that we don&#8217;t all live in one  urban conurbation. ALRIGHT?! Halfway through I got bored talking about myself and decided to use interview-style questions to freak people out. Surprisingly nobody flinched at my &#8216;Give me an example of when you&#8217;ve had to deal with a difficult person&#8217; question. However, when I tried Gaga bingo, i.e. dropping in Lady Gaga lyrics into general conversation such as &#8216;I&#8217;m on the right track, baby. I was Born This Way&#8217; I was just met with an awkward silence. I never got round to saying &#8216;I don&#8217;t speak German but I can if you like&#8217; (Gaga, Scheisse), which was a shame.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">By the end of the speed dating treadmill I was pretty exhausted. I felt like my brain had been pulled out through my nose, my accent was a weird mish-mash, and I couldn&#8217;t remember what I was even doing there. The night was completed with general mingling. One seasoned speed dater warned me that after the session the men would &#8216;hunt down&#8217; the girls they liked to talk to them more. Did anybody talk to me? Nope. Unless you count the guy who asked me what filling was in the sandwiches. I&#8217;d like to think they were just so overpowered by my charisma that they just couldn&#8217;t muster up the courage. The realist in me tells me otherwise.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">So did I circle anyone? Yeah I circled 3 people. They were generally the pretty normal, non-offensive ones who I probably have nothing in common with and have already forgotten what little impact they had on me. If they circled me back it would be very random. Alas, none of them were really the weird, interesting, creative type I was looking for. Not that I was really looking anyway, but hey if a certain someone stumbled across my path, it would be rude to not at least go with the flow. The best thing that came out of this evening is that it has made me realise how special it is when you do meet someone you genuinely have chemistry with. With those kind of people you don&#8217;t know why they stumble into your life but they do. It&#8217;s usually when you are not looking and you are not ready. Maybe you&#8217;re still recovering from some previous relationship trauma, but you know what don&#8217;t let that moment pass you by. Step out of your comfort zone. Explore. Discover. I remain ever optimistic that out there somewhere is the frosting to my cupcake, the Kindle to my ebook, someone who will rescue me and let me rescue them.</p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2011%2F09%2F91-try-speed-dating%2F&amp;title=91.%20Try%20speed%20dating%E2%80%A6" id="wpa2a_16"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2011/09/91-try-speed-dating/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>90. It&#8217;s ok to look back sometimes&#8230;</title>
		<link>http://localhost/static-sites/kateness.com-wp/2011/08/90-its-ok-to-look-back-sometimes/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2011/08/90-its-ok-to-look-back-sometimes/#comments</comments>
		<pubDate>Tue, 16 Aug 2011 02:07:29 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.thekateness.com/?p=1171</guid>
		<description><![CDATA[(I wrote this before I left but didn&#8217;t get chance to post it) It&#8217;s ok to look back sometimes. Try as we might to ignore our past it&#8217;s always lingering there, like the elephant in the room. And the truth is it&#8217;s good to look back sometimes, if only to see how far you&#8217;ve come. [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-size: small;"><span style="color: #c0c0c0;">(I wrote this before I left but didn&#8217;t get chance to post it)</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">It&#8217;s ok to look back sometimes. Try as we might to ignore our past it&#8217;s always lingering there, like the elephant in the room. And the truth is it&#8217;s good to look back sometimes, if only to see how far you&#8217;ve come.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">When I went home last weekend to say goodbye to my family, my train journey was like a trip down memory lane. From my current base of Oxford, past Leamington Spa where I lived with Nick post-uni until I got my job at OUP, up to Birmingham where I spent my university days, and finally to Stafford where I grew up. It struck me as I passed through the stations where I had spent so much of my time, that just as I had progressed along the rail route, I&#8217;d also progressed as a person. When I left Stafford I had no idea that I&#8217;d one day end up in Oxford, and when I was waiting for the train from Leamington Spa to Oxford I could never have imagined that today I&#8217;d be moving to New York. Life is like that, it&#8217;s random and unpredictable, and whilst it can be daunting, it&#8217;s also comforting, as even in the darkest times you know at some point there&#8217;ll be a better place just around the corner.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I actually asked about a secondment to NY back in 2007 when I was a PE. The idea was discussed but it never came to anything. I realise now that I just wouldn&#8217;t have been ready. I&#8217;m so different now to when I joined OUP 5 years ago. More confident, more balanced, more sure of my abilities. When Nick moved out in 2009 I was completely panicked at the thought of having to sort out my own bills as I&#8217;d never done it before. And yet now I have just single handedly organised a move to the other side of the atlantic. I&#8217;m also much better at making friends now, at holding my own in a conversation. And if at 20 I&#8217;d have stayed in the Randolph hotel (as I did last night) I&#8217;d have been like a fish out of water. Now, whilst I may not exactly be the typical guest I do have the ability to put on my best Oxford voice and at least pretend like I belong. <img src="http://localhost/static-sites/kateness.com-wp/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" /> I know that NY will be good for me, and I recognise that when I get back I&#8217;ll be different again.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I&#8217;m really going to miss my friends here in Oxford, and miss the UK office which has been so good to me. But Oxford has also been a very tough place for me. I often think that looking back at things that hurt you is a bit like poking a swollen gum after you&#8217;ve lost a tooth. You know it&#8217;s painful and yet you&#8217;re still drawn to it, each time checking to see if it still hurts. And one day you&#8217;ll try and it&#8217;s completely healed. We can never quite understand why bad things happen to us, but at some point you have to stop questioning it and just get on with your life. In some ways the worst things shape us much more than when times are good. And really all you can do is try to salvage some good from the wreckage. I met some great friends through G, he gave me the push to move out of the house I was unhappy in, he encouraged me to write this blog. I still believe that I wouldn&#8217;t have finished my MA if he hadn&#8217;t been there to support me. I mentioned him in my dissertation dedication, and I wouldn&#8217;t remove it now even if I could. It doesn&#8217;t undo the hurt, or explain why things have to be so complicated, but it&#8217;s something.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">But be careful not to look back too frequently or for too long. To quote Alexander Graham Bell â€˜When one door closes, another opens; but we often look so long and so regretfully upon the closed door that we do not see the one which has opened for us.&#8217; It&#8217;s ok to look back sometimes, but like parents tease their young children about playing cross-eyed&#8230;just make sure you don&#8217;t get stuck that way.</p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2011%2F08%2F90-its-ok-to-look-back-sometimes%2F&amp;title=90.%20It%E2%80%99s%20ok%20to%20look%20back%20sometimes%E2%80%A6" id="wpa2a_18"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2011/08/90-its-ok-to-look-back-sometimes/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>89. How well do we ever really know someone?</title>
		<link>http://localhost/static-sites/kateness.com-wp/2011/07/89-how-well-do-we-ever-really-know-someone/</link>
		<comments>http://localhost/static-sites/kateness.com-wp/2011/07/89-how-well-do-we-ever-really-know-someone/#comments</comments>
		<pubDate>Tue, 19 Jul 2011 22:14:09 +0000</pubDate>
		<dc:creator><![CDATA[Kateness]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">http://www.thekateness.com/?p=1163</guid>
		<description><![CDATA[It struck me today that the longer we know someone the better we think we know them. I&#8217;ve been told anecdotes about mutual acquaintances by people who hardly know them and thought at the time that there was no way they knew what they were talking about. I mean, I knew that person better than [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-size: small;"><span style="color: #c0c0c0;">It struck me today that the longer we know someone the better we think we know them.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">I&#8217;ve been told anecdotes about mutual acquaintances by people who hardly know them and thought at the time that there was no way they knew what they were talking about. I mean, I knew that person better than them. Or did I?<br />
We can write them off as first impressions or superficial judgements but I think they can count for a lot. The more we know people the more we make excuses for them, cushion what they do, start to fill in the gaps. We begin to block out anything that conflicts with our preferred vision of them. We start to believe that they are incapable of certain things, and then we are shocked when they prove us wrong. Confucius said &#8216;Better a diamond with a flaw than a pebble without'; sometimes the people who are the most flawed shine the brightest, it makes them interesting and is what draws us in to them in the first place. But they are not perfect, noone is, and recognising that is important.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Twice now I have been told really early on in a relationship that a man would break my heart and it wouldn&#8217;t work out. Both times I reached a smug point in time where I felt like I&#8217;d proved that person wrong. I thought I knew my boyfriend better than anyone. But was I really blind to the reality, happily filtering out what other less compromised parties might be able to see? </p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">They say if you want to know about a person, look at their friends. Actually, I say look at their enemies. Surely a wronged person knows them just as well as those they&#8217;ve been kind to. That&#8217;s not to say that anyone is all bad, but we all have different sides, and those flawed aspects of someone&#8217;s character are just as important as the nice ones. What people are capable of at their worst has just as much bearing on who they are. If we look through rose-tinted glasses we will never truly know someone.</p>
<p><span style="font-size: small;"><span style="color: #c0c0c0;">Arthur Miller said that &#8216;the imperfections of a man, his frailties, his faults, are just as important as his virtues.  You can&#8217;t separate them.  They&#8217;re wedded.&#8217;  If I ever feel ready to trust someone else I&#8217;m going to try and see them warts and all, and if I still like them anyway then all the better. Maybe we can never really know anyone, but I&#8217;m willing to get as close as I can.</p>
<p><a class="a2a_dd a2a_target addtoany_share_save" href="http://www.addtoany.com/share_save#url=http%3A%2F%2Flocalhost%2Fstatic-sites%2Fkateness.com-wp%2F2011%2F07%2F89-how-well-do-we-ever-really-know-someone%2F&amp;title=89.%20How%20well%20do%20we%20ever%20really%20know%20someone%3F" id="wpa2a_20"><img src="http://localhost/static-sites/kateness.com-wp/wp-content/plugins/add-to-any/share_save_256_24.png" width="256" height="24" alt="Share"/></a></p>]]></content:encoded>
			<wfw:commentRss>http://localhost/static-sites/kateness.com-wp/2011/07/89-how-well-do-we-ever-really-know-someone/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
