<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Apartment Gran Canaria</title>
	<atom:link href="http://localhost/static-sites/apartmentingrancanaria.com-wp/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://localhost/static-sites/apartmentingrancanaria.com-wp</link>
	<description>Serviced self-catering apartment in Gran Canaria</description>
	<lastBuildDate>Sat, 14 Jan 2012 19:09:34 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.3.5</generator>
	<item>
		<title>Comment on Playa Del Ingles by Joe</title>
		<link>http://localhost/static-sites/apartmentingrancanaria.com-wp/what-to-do-in-playa-del-ingles/#comment-9</link>
		<dc:creator><![CDATA[Joe]]></dc:creator>
		<pubDate>Sat, 14 Jan 2012 19:09:34 +0000</pubDate>
		<guid isPermaLink="false">http://localhost/static-sites/apartmentingrancanaria.com-wp/?page_id=1469#comment-9</guid>
		<description><![CDATA[I like the shop that sells haribo!]]></description>
		<content:encoded><![CDATA[<p>I like the shop that sells haribo!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Playa Del Ingles by Rory</title>
		<link>http://localhost/static-sites/apartmentingrancanaria.com-wp/what-to-do-in-playa-del-ingles/#comment-8</link>
		<dc:creator><![CDATA[Rory]]></dc:creator>
		<pubDate>Sat, 14 Jan 2012 19:09:09 +0000</pubDate>
		<guid isPermaLink="false">http://localhost/static-sites/apartmentingrancanaria.com-wp/?page_id=1469#comment-8</guid>
		<description><![CDATA[I like the drum n bass flavoured pizza shop]]></description>
		<content:encoded><![CDATA[<p>I like the drum n bass flavoured pizza shop</p>
]]></content:encoded>
	</item>
</channel>
</rss>
