.product {
	display: block;
	cursor: pointer !important;
	float: right; 	
	margin: 0px 4px 0px 4px;
	margin-bottom: 2px;
	position: relative;
	text-align: center;
}

.image_container {
	position: relative;
	border: solid 1px black;
	border-image: initial;
	background-color: #fff;
}

.amazon_link_block {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
}

.product_price {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 14px;
	padding: 4px;
	color: #900;
	font-weight: bold;
	cursor: pointer !important;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-shadow: 1 1 2px white, -1 -1 2px white;
}

.product_summary {
	padding: 0px 6px 6px 6px;
	border-bottom: solid 0px #CCC;
	border-top: solid 0px #CCC;
	font-weight: normal;
	text-align: left;
	background: white;
	cursor: pointer !important;
}

.product_name {
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
	color: #333;
	left: 0;
	width: 100%;
}

.amazonlink {
	font-size: 11px;
	font-weight: bold;
	color: #00f;
	margin-left: auto;
	margin-right: auto;
}