/*  
Theme Name: Hotel Classica
Theme URI: http://www.templatesquare.com/
Description: Hotel Classica is a clean, classic and minialist wordpress theme suitable for corporate, business, hotel, travel, portfolio and any kind of websites.
Version: 1.0
Author: templatesquare
Author URI: http://www.templatesquare.com/
License: GNU General Public License
License URI: license.txt
Tags: theme-options
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
a img {
	border: none;
}

*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0 auto;
	padding:0;
	line-height:20px;
	color:#878787;
}

/* links */
a, a:visited {text-decoration:none; font-weight:normal; }
a:hover{text-decoration:underline;}
a img{border:none}

form{margin:0; padding:0;}
input[type=text], textarea{
	border:solid 1px #e0e0e0;
	margin:4px 4px 8px 0px; 
	padding:5px; 
	vertical-align:middle; 
	font-size:11px;
}

.clr, .clear{clear:both; height:1px !important; line-height:1px !important; float:none!important; }

/* heading */
h1, h2{margin-bottom:15px; font-family:"Century Gothic", Arial, Verdana;}
h3, h4, h5, h6{margin-bottom:10px; font-family:"Century Gothic", Arial, Verdana;}
h1 {font-size:26px; line-height:26px;}
h2 {font-size:18px; line-height:22px;}
h3 {font-size:15px; line-height:20px;}
h4 {font-size:13px; line-height:17px;}
h5 {font-size:10px; line-height:16px;}
h6 {font-size:9px; line-height:13px;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; color:#2b292d;}
.uppercase{text-transform:uppercase}
.pagetitle{ font-size:24px; margin-bottom:10px;}



/* Text elements */
hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:15px 0px !important;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
	color:#e9e9e9;
	background-color:#e9e9e9;
	background-repeat:repeat-x;
}

p {
	margin-bottom:20px;
}

body p:last-child{margin-bottom:0;}

ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 2.2em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}

blockquote, .quote {
	font-style:italic;
	margin:0px 0 20px 0px;
	padding:6px 10px 0px 10px;
	background-image:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	clear:both;
	font-size:11px;
	line-height:18px;
	}
	
blockquote p{ margin:0px;}
blockquote div{}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

code {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #cfcfcf;
	padding:15px 10px;
}

pre {
	background: #f7f7f7;
	line-height: 18px;
	margin-bottom: 18px;
	padding:20px;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}

.nomargin{margin-right:0px !important;}

.linefull{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/pattern.png) repeat-x; clear:both; margin:20px 0px 10px 0px; height:9px;}

/* CONTAINER
-------------------------------------------------------------- */
#outer-wrapper{width:100%;}
#top-wrapper, #footer-wrapper{width:100%;}
#top-wrapper{height:193px; clear:both; background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/bg-header.png) repeat-x; z-index:300!important; position:relative; }
/*#content-wrapper{ position:relative; z-index:600; margin-top:285px; bottom:-50px;}*/
#content-wrapper{ position:relative; z-index:600; margin-top:45px; bottom:-50px;}
#content-wrapper.inner{ margin-top:45px;}
#footer-wrapper{min-height:128px; background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/bg-footer.png) repeat-x #212023;  }
.container{width:1000px; margin:0 auto;}
.center{width:940px; margin:0 auto; clear:both;}

#top{ height:100px;}

#content-container{width:1000px; background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/bg-content.png) repeat;}
#frame-content-t{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/pattern.png) repeat-x top;}
#frame-content-b{background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/pattern.png) repeat-x bottom; padding:29px 0px; }

.three-column-r{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/frame/three-col-repeat.gif) repeat-y;}
.three-column-t{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/frame/three-col-top.gif) top no-repeat}
.three-column-b{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/frame/three-col-bottom.gif) bottom no-repeat}

.two-column-left-r{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/frame/two-col-left-repeat.gif) repeat-y;}
.two-column-left-t{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/frame/two-col-left-top.gif) top no-repeat}
.two-column-left-b{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/frame/two-col-left-bottom.gif) bottom no-repeat}

.two-column-right-r{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/frame/two-col-right-repeat.gif) repeat-y;}
.two-column-right-t{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/frame/two-col-right-top.gif) top no-repeat}
.two-column-right-b{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/frame/two-col-right-bottom.gif) bottom no-repeat}


/* Logo
-------------------------------------------------------------- */
#logo{ float:left; margin-top:17px; margin-left:95px;}
#logo h1{ margin-bottom:0px;}

/* TOP MENU
-------------------------------------------------------------- */

#top-right{ float:right; margin:30px 0px 0px 0px;}
/* #top-phone{ float:left; margin:0px; padding:0px 0px 0px 20px; background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/icon/i-phone.png) no-repeat 0px 3px;}
#top-phone li{ float:left; list-style-type:none;} */
#top-phone{ float:left; margin:0px; padding:0px 0px 0px 20px; }
#top-phone li{ float:left; list-style-type:none;}
#top-chat{ float:left; background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/icon/i-chat.png) no-repeat 15px 0px;  border-left:1px solid #dfdfdf; padding:0px 0px 10px 45px; margin:8px 0px 0px 9px;}
#top-chat a{ color:#878787;}

#mainmenu{ float:left; width:100%; height:62px;}

#topnav, #topnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	z-index:900;
}
#topnav{padding:8px 0px 0px 0px;}

#topnav a{
	display:block;
	padding:0 0 28px 0;
	color:#4c4c4d;
	font-family:Verdana, Arial;
	font-size:14px;
	text-decoration:none;
}

#topnav li a:hover{
	color: #2b292d;
	text-decoration: none;
  }
  
#topnav li.current > a, #topnav li a:hover {color:#6a6a6a}

#topnav li{
	float:left;
	position:relative;
	padding:0 0 1px 0;
	margin:0px 35px;
	z-index:25
}

#topnav li:last-child{ margin-right:0px;}
#topnav li:first-child{ margin-left:10px;}

#topnav li li{
	padding-right:0px;
	text-transform:capitalize;
	line-height:25px;
	padding:0px 0px;
	background-image:none;
	margin-right:0;
	margin-left:0px;
	
}
/*#topnav li li:last-child{border-bottom:0;}*/
#topnav li li:first-child{ margin-left:0px;}

#topnav ul {
	position:absolute;
	display:none;
	width:140px;
	top:45px;
	left:-25px;
	padding: 5px 10px 20px 10px!important;
	background-image:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/bg-drop-menu.png);
	padding:0;
	text-align:left;
}

#topnav li li{ border-bottom:1px solid #a8a8a8;}

#topnav li ul a{
	width:110px;
	margin:3px 0px 3px 0px;
	padding:5px 15px;
	line-height:normal;
	font-size:14px;
	color:#717171;
}

#topnav li ul a:hover{color:#4c4c4d; }

#topnav ul ul{	top:-1px;}	

#topnav li ul ul {left:130px; margin:0px 0 0 0px;}

#topnav li:hover ul ul, #topnav li:hover ul ul ul, #topnav li:hover ul ul ul ul{display:none;}
#topnav li:hover ul, #topnav li li:hover ul, #topnav li li li:hover ul, #topnav li li li li:hover ul{	display:block;}
#topnav li.current_page_item > a, #topnav li:hover, #topnav li.current_page_ancestor > a,  #topnav li.current-menu-ancestor > a, #topnav li.current-menu-item > a {	color:#717171}


#news-ticker{color:#fff;}
#news-ticker .cycle{text-align:center!important; width:100%!important}


/* HEADER AND SLIDER
-------------------------------------------------------------- */
/* SLIDER */

#slider-container{ 
	float:left;
	width:100%;
	position:absolute;
	overflow:hidden;
	height:420px;
	z-index:100;
	border-bottom:1px solid #2b292d; padding-bottom:20px;
	margin-top:-35px;
}
#slider{list-style-type:none; margin:0; padding:0;}
#slider li img{height:420px!important; width:100%; overflow:hidden!important; padding-bottom:20px;}

/* Slideshow Navigation */
.slide-nav-container{	
	width:1000px;
	margin:0px auto;
	}
#slide-nav{
	width:1000px;
	position:absolute;
	top:200px;
}
#slideprev{
	background-image:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/slider-nav-left.png);
	background-repeat:no-repeat;
	width:31px;
	height:31px;
	position:absolute;
	cursor:pointer;
	z-index:150;
}
#slidenext{
	background-image:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/slider-nav-right.png);
	background-repeat:no-repeat;
	width:31px;
	height:31px;
	position:absolute;
	cursor:pointer;
	z-index:150;
	right:0px;
}

/* END SLIDER */


/* HEADER */
#header-container{ 
	float:left;
	width:100%;
	position:absolute;
	overflow:hidden;
	z-index:100;
	border-bottom:1px solid #2b292d; padding-bottom:20px;
	margin-top:-35px;
}



/* CONTENT
-------------------------------------------------------------- */
#content{}
.side, #main-content{ float:left}

.side{ width:180px; padding:20px;}

#main-content{ width:402px; padding:20px; margin:0px 29px; font-size: 13px; }
#main-content.contentright{ width:651px; padding:20px; margin:0px 0px 0px 29px;}
#main-content.contentleft{ width:651px; padding:20px; margin:0px 29px 0px 0px;}
#main-content.full{width:901px; padding:20px; margin:0px; border:1px solid #d9d9d9; background:#f8f8f8;}

.contentbox{background-color:#ededed; padding:20px}
.colortext{color:#da5632;}
.double-arrow{float:right; padding-right:10px}
.imgborder{border:solid 1px #dedede; padding:7px; display:block}
.t1, .t1 a, .t1 a:visited{font-weight:bold; display:block; margin-bottom:14px}
.tborder{border-bottom:solid 1px #dedede; padding-bottom:4px}
.boldText{font-weight:bold; line-height:30px; display:block}
.widget-info{float:right; width:340px; padding:0 30px}
.backtop{float:right;}


/* CONTACT */
.maincontact{background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/bg-main.gif) repeat-y; float:left;}
.contact-left{ width:530px; float:left; margin-right:35px;}
.contact-right{ width:299px; float:left; padding-left:35px; border-left:1px solid #e9e9e9;}
.contact-right h2{ margin-bottom:8px;}
.contact-right a{ color:#2b292d}



/* form and button */
input[type="text"],
textarea {
	padding: 5px;
	background: #fbfbfb;
	border: 1px solid #e0e0e0;
	color:#828282
}

.inputbox{
	padding: 5px;
	background: #fbfbfb;
	border: 1px solid #bfbfbf;
	color:#828282
}
.button, #submit{
	background:#f8f8f8;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f2f2f2);
	background: -o-linear-gradient(top,  #f8f8f8,  #f2f2f2);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f2f2f2');
	border:solid 1px #e9e9e9;
	padding:8px 20px;
	color:#878787;
	font-weight:bold;
	cursor:pointer;
}
.button:hover, #submit:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f8f8f8));
	background: -moz-linear-gradient(top,  #f2f2f2, #f8f8f8);
	background: -o-linear-gradient(top,  #f2f2f2, #f8f8f8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#f8f8f8');
}

a.more-link{background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow.gif) no-repeat right 9px; padding-right:12px; color:#2b292d; display:block; width:15%;}
a.more2{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow.gif) no-repeat 0px 5px; padding-left:15px; text-decoration:underline; color:#878787;}
a.more{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow.gif) no-repeat right 9px; padding-right:12px; color:#2b292d;}



/* Column list */
.four_column{list-style-type:none; margin:0px; padding:0px;}
.four_column li{list-style-type:none;width:22%; margin-right:4%; float:left;}
.four_column p{margin-bottom:10px;}

.three_column{list-style-type:none; margin:0px; padding:0px;}
.three_column li{list-style-type:none;width:30.66%; margin-right:4%; float:left;}
.three_column p{margin-bottom:10px;}

.two_column{list-style-type:none; margin:0px; padding:0px;}
.two_column li{list-style-type:none;width:48%; margin-right:4%; float:left;}
.two_column p{margin-bottom:10px;}

.three_four_column{list-style-type:none; margin:0px; padding:0px;}
.three_four_column li{list-style-type:none;width:74%; margin-right:4%; float:left;}
.three_four_column p{margin-bottom:10px;}

.two_column li li, .three_column li li, .four_column li li, .three_four_column li li{margin:0px; width:auto !important; float:none;}


/* Separator */
.separator {
	display:block;
	height:25px;
	text-align:center;
	width:100%;
	clear:both;
}

.separator.line {
	display:block;
	height:10px;
	text-align:center;
	width:100%;
	clear:both;
	margin:0px;
	background-image:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/hr.gif);
	background-repeat:repeat-x;
	background-position:center;
}


/* Tables */
table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #cfcfcf;margin-bottom:18px;}
table,td,th { text-align:center;}
th{padding:10px;color:#666;text-transform:uppercase;}
td{padding:10px;color:#888;}
tfoot td{border:0px;}
/*th,tr:hover{background-color:#cfcfcf;}*/
table {
	border: 1px solid #cfcfcf;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	border-top: 1px solid #cfcfcf;
	padding: 6px 24px;
}
tr.odd td {
	background: #F2F7FC;
}

/* Table list */
.table-box-container{ width:940px;}
.table-box-container ul{ margin:0px; border-bottom:1px dotted #c7c7c7; float:left; }
.table-box-container ul li{ float:left; list-style-type:none; padding:12px 0px; line-height:normal; color:#707070 !important; }
.table-box-container ul li h4{ margin:0px; font-size:14px;}
.table-box-container ul li.one{ width:455px; padding-left:20px; }
.table-box-container ul li.two{ width:150px; text-align:center; border-left:1px dotted #c7c7c7; }
.table-box-container ul li.three{ width:150px; text-align:center; border-left:1px dotted #c7c7c7; }
.table-box-container ul li.four{ width:150px; text-align:center; border-left:1px dotted #c7c7c7; }
ul.table_header li{ }

ul.tbl-odd{ background-color:#e8e8e8; float:left;}
ul.tbl-odd li.one{ width:465px; padding-left:10px; }
ul.tbl-even{ background-color:#e1e1e1}
ul.tbl-even li.one{ width:465px; padding-left:10px; }
ul.tbl-price{ border:0px; font-size:18px;}
ul.tbl-price a, ul.tbl-price a:visited{ color:#707070; text-decoration:underline; font-size:12px;}
ul.tbl-price a:hover{ text-decoration:none;}


.icontable{width:25px; margin-right:10px;}
.icontable img{vertical-align:middle;}


/* sideright & widget */
.side ul{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}
.side ul li{
	list-style-type:none;
	margin:0;
	padding:0;
}
.side ul li a, .side ul li a:visited{}
.side .widget-container{margin-bottom:30px; }
.side .widget-title{font-size:18px; line-height:25px; padding:0 0px;  margin-bottom:10px; color:#2b292d}
.side li li{padding:5px 0 5px 20px; background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow.gif) no-repeat 0px 13px; border-bottom:1px solid #e9e9e9;}

.side li.current, .side li li:hover{}
.side li li a:hover{text-decoration:none;}

.side ul ul{margin:0; }
.side ul.sub-menu, .side ul.children, .side ul ul ul{margin:0 0 0 10px !important; padding:0}
.side li li li{background:none; padding:3px 0 3px 0px;}

.side ul ul li:last-child, .side ul.sub-menu li:last-child, .side ul.children li:last-child{}

/* Ts Recent Post */
.side ul.latestpost li{ border:0px!important;}
.lp-title{font-size:11px;}
.lp-title a, .lp-title a:visited, .lp-title a:hover{font-weight:bold; text-decoration:none}
.lp-date{color:#a3a3a3; font-size:10px; display:block;}
.lp-date a, .lp-date a:visited{color:#aaa;}

/* Ts Recentcomments */
.side .widget_ts_recent_comments #ts-recent li a{ color:#2B292D;}

/* Ts Post Cycle */
.side .widget_ts_post_cycle span.wdt-title{ font-weight:bold; display:block;}
.side .widget_ts_post_cycle span.wdt-title a{ font-weight:bold;}

.side .widget_search input#s{width:170px;  padding: 7px 5px; color:#a3a3a3;}
.side input#searchsubmit{ display:none!important;}

.side ul.children li:last-child{ border-bottom:0px!important;}

.side .widget_recent_comments { color:#878787;}

.side blockquote{font-size:12px; font-family:Arial; font-style:italic; padding:10px 0 0 0; text-indent:40px}

.side ul.latestpost li{
	background-image:none !important;
	padding-left:0;
	margin-bottom:15px
	}
	

/* CONTACT */
.red{color: #FF0000;}
.wpcf7 p{margin-bottom:0;}
.wpcf7 label{display:block; width:80px; float:left; }
.wpcf7 input[type="text"]{
	background-color:#ffffff;
	border:solid 1px #e9e9e9;
	margin-bottom:6px;
	padding:8px 5px;
	font-size:11px;
	width:60%;
}

.wpcf7 textarea{
	background-color:#ffffff;
	border:solid 1px #e9e9e9;
	margin-bottom:7px;
	padding:8px 5px;
	font-size:11px;
	width:80% !important
}

.wpcf7 .wpcf7-submit{
	background:#ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f20000));
	background: -moz-linear-gradient(top,  #ffffff,  #f20000);
	background: -o-linear-gradient(top,  #ffffff,  #f20000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f20000');
	border:solid 1px #444444;
	padding:8px 15px;
	margin:6px 0;
	margin-left:0px;
	color:#000000;
	cursor:pointer;
	font-size:13px;
	font-weight:bold;
}

.wpcf7 .wpcf7-submit:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
	background: -moz-linear-gradient(top,  #f2f2f2, #ffffff);
	background: -o-linear-gradient(top,  #f2f2f2, #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#f8f8f8');
}



/* BLOG STYLE
-------------------------------------------------------------- */
.sticky{
	background: #f6f6f6;
	border-top: 4px solid #d8d8d8;
	padding: 0px;
}
.post{margin-bottom:0px;  position:relative; margin-top:-5px}
.posttitle{margin:0 0 0px 0; font-size:18px; line-height:30px;}
.postdate{ position:absolute; right:0px; top:0px; background:#2b292d; padding:5px 13px; color:#fff; font-family:"Century Gothic", Arial, Verdana; font-size:14px;}
.post .posttitle a:hover{text-decoration:none}
.hentry{list-style-type:none;  margin:0px 0px 30px 0;}
#searchresult .hentry{ background:none; margin-bottom:10px; padding-bottom:10px}
#searchresult h2.posttitle{ margin-bottom:0px; font-size:14px;}
.post.single{margin-bottom:0px; padding-bottom:0px; border:0;}
.post.last{ background:none; padding-bottom:0px;}
.entry-content{padding:5px 0px 0 0;}
.page .entry-content{padding:5px 0px 0 0;}
#searchresult .entry-content{padding:5px 0 0 0;}
.entry-utility{display:block}
.entry-utility a, .entry-utility a:visited{}
.entry-utility a:hover{}
.postimg{margin-bottom:12px;}


/* ABOUT */
h3 span.title-about{ line-height:40px;}
.bullet-check .about li{ border-bottom:1px solid #e9e9e9; padding-top:3px; padding-bottom:3px; background-position:0px 10px;}


/* SERVICE */
ul.service-list{ margin:0px; padding:0px; list-style-type:none;}
ul.service-list li{ border-bottom:1px solid #e9e9e9; padding-bottom:15px; margin-bottom:15px;}
ul.service-list li h4{ margin-bottom:0px;}
.five-column.service li h3{ margin-bottom:0px;}

/* ROOM DETAIL */

.post-room h2{ font-size:14px;}
.post-room .hentry{ border-bottom:1px solid #e9e9e9; padding-bottom:30px;}
.more.room{ background-position:right 5px;}

ul.box_facilities{ margin:0px; padding:0px 0px 25px 0px;}
ul.box_facilities li{ background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/check.png) no-repeat 0px 10px; padding:7px 0px 7px 25px;}
.facilities .price{ font-size:24px; color:#2b292d; text-align:center; padding-bottom:25px;}
.facilities .price .small{ font-size:11px!important;}
.but-book{ text-align:center;}
.but-book a{
	border:1px solid #3f3f3f;
	text-align:center;
	color:#fff!important;
	padding:7px 25px;
	text-transform:uppercase;
	font-size:16px!important;
	display:inline-block!important;
	font-size:12px;
	background:#6AD3F0;
	background: -webkit-gradient(linear, left top, left bottom, from(#6AD3F0), to(#2190AB));
	background: -moz-linear-gradient(top,  #6AD3F0,  #2190AB);
	background: -o-linear-gradient(top,  #6AD3F0,  #2190AB);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6AD3F0', endColorstr='#2190AB');
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.but-book a:hover{
	background:#BCEBFD;
	text-decoration:none;
	background: -webkit-gradient(linear, left top, left bottom, from(#6AD3F0), to(#BCEBFD));
	background: -moz-linear-gradient(top,  #6AD3F0,  #BCEBFD);
	background: -o-linear-gradient(top,  #6AD3F0,  #BCEBFD);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#5d5d5d');
	
}


.one_half.left{ margin-left:20px; width:42%;}
#slideshow_detail {list-style:none; color:#fff}
#slideshow_detail span {display:none}
#wrapper {width:651px; margin:0; display:none; }
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:651px; height:386px; padding:0px 0px 0px 0px; z-index:0;}
#information {position:absolute; bottom:0; width:651px; height:0; background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/opacity.png) repeat;  color:#fff; overflow:hidden; z-index:200; display:none; }
#information h3 {padding:4px 8px 3px; font-size:14px; display:none;}
#information p {padding:0 8px 8px;}
#image {width:651px}
#image img {position:absolute; z-index:25; width:auto}
.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:50}
.linkhover {background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/link.gif) center center no-repeat}

#thumbnails {padding:18px 20px 0px 20px; background-image:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/opacity2.png); background-repeat:repeat;  width:611px; position:absolute; top:383px; }
#slideleft {float:left; width:10px; height:13px; background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/scroll-left.png) center center no-repeat; margin-top:10px; cursor:pointer;}
#slideright {float:left; width:10px; height:13px; background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/scroll-right.png) center center no-repeat; margin-top:10px; cursor:pointer;}
#slidearea {float:left; position:relative; width:570px; margin:0px 10px 0px 10px;  height:53px; overflow:hidden;}
#slider-room {position:absolute; left:0; height:53px}
#slider-room img {cursor:pointer; border:0px; padding:0px 0px; margin:0px 8px 0px 8px!important; width:47px; height:35px;}


/* author */
h2.title-author{ font-size:16px;}
#entry-author-info {
	clear: both;
	padding:20px;
	margin-bottom:30px;
	border-width:1px 0;
	position:relative;
	background-color:#f1f1f1;
}
#entry-author-info #author-avatar {
	margin: 0 0 0 0;
	position:absolute;
	top:15px;
	height:60px;
	padding-bottom:20px
}
#entry-author-info #author-description {
	margin: 0 0 10px 85px; vertical-align:top;
}
#entry-author-info #author-description  h2{font-size:15px; margin-bottom:0}
#author-description span.author{ font-weight:bold;}

/* attachment pages wordpress */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* images content */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-top: 5px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:0px;
}
img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone {
	margin-bottom: 12px;
}
img.alignmiddle{vertical-align:top; margin:0 6px 0 0}
.imgborder{ background-color:#f6f6f6; border:1px solid #eaeaea; padding:4px;}


#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	text-align: center;
	margin-bottom: 20px;
	padding: 4px;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	margin: 5px;
	color: #888;
	font-size: 11px;
}
#content .wp-smiley {
	margin:0;
}
#content .gallery {
	margin: auto;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 11px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	border: 10px solid #f1f1f1;
}
#content .gallery br+br {
	display: none;
}
.tag-links{padding:10px 0; display:block}


/* navigation  */
.navigation {

	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	text-decoration: none;
	color:#666
}
.navigation a:active,
.navigation a:hover {
}
.nav-previous {
	float: left;
	width: 50%;
	font-size:13px;
	text-transform:uppercase;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
	font-size:13px;
	text-transform:uppercase;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: 20px 0 10px 0;
}


/* Comments */
#comments{
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title{
	font-size: 20px;
	line-height:24px;
	padding:13px 0px;
	margin:0 0 20px 0;

}

h3#reply-title {
	font-size: 22px;
	line-height:24px;
	margin:0 0 15px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
	margin-bottom:0px;
}
.commentlist li.comment {
	margin: 0 0 0px 0px;
	padding: 0 0 10px 0px;
	position: relative !important;
}
.commentlist li.comment ul.children{margin:0 0 0 0; margin-left:13%; padding:0px 0 0 0;}
.commentlist li.comment ul.children li{border-bottom:0 !important; margin:0; padding:0}
#comments .comment-body ul,#comments .comment-body ol {
	margin-bottom: 0;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	padding:0px;
	background-color:transparent;
}
.comment-body cite {
	font-style: normal;
	font-size:14px;
	line-height:14px;
	color:#878787;
}
.comment-body cite  a, .comment-body cite  a:visited{color:#878787;}
.comment-body cite  a:hover{text-decoration:none}
.comment-author .says {	font-style: normal;}
.comment-meta {	font-size: 11px;	margin: 0 0 18px 0;}
.comment-meta a:link,
.comment-meta a:visited {
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {}
.commentlist .bypostauthor {}
.reply {
	padding: 0 0 0px 0;
	font-size:11px;
	 
}
.reply a.comment-reply-link{background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow.gif) no-repeat right 5px; padding-right:12px; color:#2b292d;}
a.comment-edit-link {
	color:#a3a3a3;
	text-decoration:underline;
}
a.comment-edit-link:hover {
	text-decoration:none
}
.commentlist .children {
	list-style: none;
}
.commentlist .children li {}
.nopassword, .nocomments {display: none;}
#comments .pingback {
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	display: block;
	font-size: 11px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 14px;
}
.con-comment{padding:0 0 0 0}
.commentlist .comment-author{ float:left; margin-top:7px;}
.commentlist .comment-body{width:auto; margin-bottom:20px !important; margin-left:80px; border-bottom:1px solid #e9e9e9; padding-bottom:10px; }
.commentlist .comment-body p{margin-bottom:20px !important}
.commentlist ul.children .comment-author{}
.commentlist ul.children .comment-body{}
*+html .commentlist .comment-body{margin-top:-15px}
.comment-body .time{margin-bottom:11px; display:block;  font-size:10px; font-style:italic;;}
.comment-body .time a, .comment-body .time a:visited{color:#676767;}
.comment-body .boldtext{font-weight:normal; font-size:22px}

/* Comments form */
#commentform{padding:0; }
#commentform label{margin-top:0px; }
#commentform code{padding:0; margin:10px 0; border:0}

#commentform input[type=text]{ 
	margin-bottom:8px;
	padding:8px 5px;
	vertical-align:middle;
	width:77%;
	font-size:12px;
	font-family:arial;
	display:block;
	
	}

#commentform textarea{ 
	height:150px;
	width:83%;
	margin-bottom:10px;
	padding:8px 5px;
	vertical-align:top;
	font-size:12px;
	font-family:arial;
	display:block;
	}
	
#commentform textarea{ width:86%\0/IE9;}/* css hack for ie9*/
@media \0screen {
#commentform textarea{ width:82%;}/* css hack for ie8*/
}
#respond .comment-reply{
	font-size: 20px;
	line-height:24px;
	padding:0px 0px;
	margin:0 0 10px 0;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 0px 0 0;
}
.cancel-comment-reply{ font-size:12px;}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
	padding:0;
}
#cancel-comment-reply-link {
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
}
#respond label {
}
#respond input {
}
#respond textarea {
}
#respond .form-allowed-tags {
}
#respond .form-allowed-tags code {
}
#respond .form-submit {
	margin: 12px 0;
	clear:both;
}
#respond .form-submit input {
}

.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment{float:left; }
.comment-form-comment{ width:100%;}
.form-submit{ clear:both;}

/* Calendar */
.widget_calendar #wp-calendar {
	width: 98%;
	text-align:left;
	border: 0px !important;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
	padding:3px !important;
	border: 0px !important;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 800;
	padding: 5px 0 3px 0 !important;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	background: #f4f4f4;
	border: 0px !important;
	font-weight: bold;
	padding:3px !important
}
.widget_calendar #wp-calendar tfoot td {
	background: #f4f4f4;
	border: 0px !important
}
#today{ color:#00CC00}

/* FOOTER
-------------------------------------------------------------- */
#footer{ color:#bababa; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; padding-top:60px;}
#footer-left{ float:left; width:60%;}
#footer-right{ float:right;}
#footer-menu{ margin:0px; padding:0px;}
#footer-menu li{ display:inline; padding-right:10px; float:left;}
#footer-menu li a{color:#bababa; text-decoration:none;}
#copyright{ text-align:center; margin-top:8px;}
#copyright a{color:#bababa!important;}

#footer ul.sn {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px ;
	text-align:right;
}
#footer ul.sn li {
    border: 0 none !important;
    float:left;
    padding: 0px 2px !important;
}

#footer ul.sn li span.icon-img{
	border: none;
	width:24px;
	display:block;
	height:24px;
	margin-right:6px;
}
#footer ul.sn li span.icon-img:hover{background-position: 0px -24px;}

/* PLUGIN
-------------------------------------------------------------- */
#breadcrumbs{padding:0px 0 10px 0;}

.adrotate_widget img{margin:0 10px 10px 0;}

/* Easy Contact Plugin  */
.titleborder{border-bottom:solid 1px #ededed; padding-bottom:10px}
div.formcontainer{
	clear: both;
	overflow: hidden;
	width: 100%;
}

div.formcontainer span.required {
	color: #FF0000;
}
div.formcontainer p.error,
div.formcontainer p.important,
div.formcontainer p.information,
div.formcontainer p.success {
	line-height: 250%;
	width: 95%;
	font-size:11px;
	color:#ff0000;
}
div.formcontainer form.contact-form {
	clear: both;
	float: none;
}
div.formcontainer form.contact-form fieldset {
	margin: 0.5em 0 1.5em 0;
}
div.formcontainer form.contact-form fieldset legend {
	text-transform:capitalize;
}
div.formcontainer form.contact-form fieldset div.form-label {
	display: block;
	float:none;
	line-height:150%;
	margin: 0.5em 0 0 0;
	padding:0;
	text-align:left;
	width:100%;
}
div.formcontainer form.contact-form fieldset div.form-label label,
div.formcontainer form.contact-form fieldset div.form-option label {
	cursor: pointer;
	line-height:100%;
}
div.formcontainer form.contact-form fieldset div.form-input,
div.formcontainer form.contact-form fieldset div.form-textarea {
	display: block;
	float:none;
	margin: 0.2em 0 0 0;
}
div.formcontainer form.contact-form fieldset div.form-input input{

	margin-bottom:8px;
	padding:8px 5px;
	vertical-align:middle;
	width:275px;
}
div.formcontainer form.contact-form fieldset div.form-textarea textarea {

	margin-bottom:10px;
	padding:8px 5px;
	vertical-align:top;
	width:440px;
	height:140px
}
div.formcontainer form.contact-form fieldset div.form-input input.error, div.formcontainer form.contact-form fieldset div.form-textarea textarea.error {
	background-color: #fff;
}
div.formcontainer form.contact-form fieldset div.form-input input.optional {
	margin-bottom: 0.2em;
}
div.formcontainer form.contact-form fieldset div.form-option,
div.formcontainer form.contact-form fieldset div.form-submit {
	padding-left:0px;
	margin-top:0px;
}

div.form-submit input.button{
	color:#fff;
	padding:8px 25px;
	cursor:pointer;
	margin-top:15px;

}	


div.form-submit input.button:hover{
	text-decoration:none; background-position:0 -24px;
}
div.formcontainer form.contact-form fieldset div.form-submit input {}
div.formcontainer fieldset {padding:0px;}
div.formcontainer fieldset legend { font-weight:bold; padding:0px; padding-left:1px; background-color:transparent; }




/* WP-PageNavi  Plugin  */
.wp-pagenavi {vertical-align:middle; clear:both; padding:20px 0; text-align:center; }
.wp-pagenavi a, .wp-pagenavi a:visited{
	color:#878787 !important;
	background-color:transparent !important;
	padding:5px 10px !important;
	margin-right:8px !important;
	border:solid 1px #e9e9e9 !important;

}

.wp-pagenavi a:hover{
	color:#878787 !important;
	padding:5px 10px !important;
	margin-right:8px !important;
	border:solid 1px #ebeaea !important;
	background-color:#f3f3f3 !important;
}

.wp-pagenavi span.current{
	color:#878787 !important;
	padding:5px 10px !important;
	margin-right:8px !important;
	border:solid 1px #ebeaea !important;
	font-weight:normal !important;
	background-color:#f3f3f3 !important;
	}
	
.wp-pagenavi .pages, .wp-pagenavi .extend {
	color:#878787 !important;
	background-color:transparent !important;
	padding:5px 10px !important;
	margin-right:8px !important;
	border:solid 0px #e9e9e9 !important;
	display:none;
}

/* Flickr Plugin  */
#flickr {text-align:center !important; padding:12px 0 0 0}
#flickr img {
margin:0 5px 10px 5px !important;
padding:0px;
border:2px solid #d6d6d6;
}
.flickr_badge_image{ display:inline-block !important}
* html .flickr_badge_image, *+html .flickr_badge_image{display:inline !important}



/* SHORTCODE
-------------------------------------------------------------- */
/* Column */
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{margin-right: 4%; position:relative; float:left; }
.one_half{ width:48%; }
.one_third{width:30.6666%;}
.one_fourth{width:22%; }
.one_fifth{width: 16.8%;}
.one_sixth {width: 13.3333%;}

.two_third{width: 65.3332%;}
.two_fourth {width: 48%;}
.two_fifth {width: 37.6%;}
.two_sixth {width: 30.6666%;}

.three_fourth{width:74%;}
.three_fifth {width: 58.4%;}
.three_sixth {width: 47.9998%;}

.four_fifth {width: 79.2%;}
.four_sixth {width: 65.3332%;}

.five_sixth {width: 82.6665%;}
.last{ margin-right:0 !important; clear:right; }


/* column list */
.five-column{list-style-type:none; margin:0px; padding:0px;}
.five-column li{list-style-type:none;width:16.8%; margin-right:4%; float:left;}
.five-column p{margin-bottom:18px;}


.four-column{list-style-type:none; margin:0px; padding:0px;}
.four-column li{list-style-type:none;width:22%; margin-right:4%; float:left;}
.four-column p{margin-bottom:10px;}

.three-column{list-style-type:none; margin:0px; padding:0px;}
.three-column li{list-style-type:none;width:30.66%; margin-right:4%; float:left;}
.three-column p{margin-bottom:10px;}

.two-column{list-style-type:none; margin:0px; padding:0px;}
.two-column li{list-style-type:none;width:48%; margin-right:4%; float:left;}
.two-column p{margin-bottom:10px;}

.three-four-column{list-style-type:none; margin:0px; padding:0px;}
.three-four-column li{list-style-type:none;width:74%; margin-right:4%; float:left;}
.three-four-column p{margin-bottom:10px;}
.two-column li li, .three-column li li, .four-column li li, .three-four-column li li{margin:0px; width:auto !important; float:none;}



/* Dropcaps */
.dropcap1{
	text-shadow:1px 1px 0 #fff;
	display:block;
	float:left;
	font-size:34px;
	line-height:34px;
	margin:2px 8px 0 0;
	color:#666
}
.dropcap2{
	background: transparent url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/dropcaps.png) top left no-repeat;
	color:#fff;
	display:block;
	float:left;
	font-size:25px;
	line-height:40px;
	width:40px;
	height:40px;
	text-align: center;
	margin:4px 8px 0 0;
}
.dropcap3{
	background-color:#878787;
	color:#fff;
	display:block;
	float:left;
	font-size:25px;
	line-height:40px;
	width:40px;
	height:40px;
	text-align: center;
	margin:6px 8px 0 0;
}

/* Highlight */
.highlight1{padding:2px 5px;background-color:#e6e8e8;color:#000; border:solid 1px #ccc}	
.highlight2{padding:2px 5px;background-color:#666666;color:#fff; border:solid 1px #333}	


/* Bulleted List */
.bullet-check ul{
	margin:0 0 20px 0;
	padding:0;
	list-style-type:none;
}	
.bullet-check li{
	background: transparent url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow_check.png);
	background-repeat:no-repeat;
	background-position:0 8px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}	
.bullet-arrow ul{
	margin:0 0 20px 0;
	padding:0;
	list-style-type:none;
}	
.bullet-arrow li{
	background: transparent url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow_default.gif);
	background-repeat:no-repeat;
	background-position:0 8px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}	
.bullet-star ul{
	margin:0 0 20px 0;
	padding:0;
	list-style-type:none;
}	
.bullet-star li{
	background: transparent url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow_star.png);
	background-repeat:no-repeat;
	background-position:0 5px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px;
}	
.bullet-plus ul{
	margin:0 0 20px 0;
	padding:0;
	list-style-type:none;
}	
.bullet-plus li{
	background: transparent url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow_plus.png);
	background-repeat:no-repeat;
	background-position:0 8px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}	
.bullet-circle ul{
	margin:0 0 20px 0;
	padding:0;
	list-style-type:none;
}	
.bullet-circle li{
	background: transparent url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow_circle.png);
	background-repeat:no-repeat;
	background-position:5px 10px;
	margin:0;
	padding:0 0 0 25px;
	list-style-type:none;
	line-height:25px
}	

/* Styled Boxes */
.styled-box{
	padding: 20px 20px;
	margin: 0 0 25px 0;
	background: #eee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #dde2aa;
	border: 1px solid #a2c058;
	color: #7b9244;
}

.styled-box.download{
	background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/icon/download.png) no-repeat scroll 20px 18px;
	padding-left:60px
}
.styled-box.note{
	background: url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/icon/note.png) no-repeat scroll 20px 15px;
	padding-left:65px
}
.styled-box.error{
	background: url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/icon/error.png) no-repeat scroll 20px 15px;
	padding-left:60px
}
.styled-box.info{
	background: url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/icon/info.png) no-repeat scroll 20px 15px;
	padding-left:65px
}

.styled-box.green{
	background-color: #dde2aa ;
	border: 1px solid #a2c058;
	color: #7b9244;
}
.styled-box.yellow{
	background-color: #fdebae ;
	border: 1px solid #e6c555;
	color: #b28c0b;
}
.styled-box.red{
	background-color: #ffcccc ;
	border: 1px solid #ff9999;
	color: #fb1414;
}
.styled-box.blue{
	background-color: #bde3f9 ;
	border: 1px solid #8bb5cd;
	color: #1d97db;
}


/* Pullquotes */
.pullquote-right,.pullquote-left{
	padding:0px 10px;
	float:right;
	font-style:italic;
	letter-spacing:0px;
	line-height:20px;
	margin:0px 2px 20px 20px;
	width:50%;
	background-image:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	clear:both;
	font-size:13px;
	}
.pullquote-left{float:left;margin-left:2px;margin-right:20px;}

/* Tabs */
.tabcontainer{margin:20px 0px 0px 0px;}

ul.tabs {
	margin: 0;
	padding: 0 0 0 0;
	list-style: none;
	height: 30px;
	width: 100%;

}
ul.tabs li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
	height: 29px;
	line-height: 31px;
	background: #f8f8f8;
	border: 1px solid #cfcfcf;
	border-width:1px 1px 1px 1px !important;
	-moz-border-radius-topleft: 3px; /* Firefox */
	-moz-border-radius-topright: 3px; /* Firefox */
	border-top-left-radius: 3px; /* CSS3 */
	border-top-right-radius: 3px; /* CSS3 */
	overflow: hidden;
	position: relative;
	font-size:12px;
	text-transform:uppercase
	
}
ul.tabs li:hover{border-bottom:solid 1px #f8f8f8;}
ul.tabs li a {
	text-decoration: none;
	color: #878787;
	display: block;
	padding: 0 25px;
	outline: none;
}
ul.tabs li a:hover {
	background: #f8f8f8;
	text-decoration:none;
	-moz-border-radius-topleft: 5px; /* Firefox */
	-moz-border-radius-topright: 5px; /* Firefox */
	border-top-left-radius: 5px; /* CSS3 */
	border-top-right-radius: 5px; /* CSS3 */
}
ul.tabs	 li.active{border-bottom:solid 1px #e3e2e2; }
html ul.tabs li.active, html ul.tabs li.active a:hover  {background: #e3e2e2; color:#454545}
html ul.tabs li.active a{ color:#454545; }
#tab-body{
	border:solid 1px #cfcfcf;
	border-width:1px 1px 1px 1px;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
	border-radius: 3px; /* CSS3 */
	/* default background colour, for all layout engines that don't implement gradients */
	background: #f8f8f8;

}
.tab-content {padding: 30px 25px}


/* jQuery Toggle */
h2.trigger {
	padding: 15px 15px;
	margin: 0 0 5px 0;
	height: 13px;
	line-height: 13px;
	width:570px;
	font-size:14px;
	font-weight: normal;
	border:solid 1px #cfcfcf;
	background-color:#f8f8f8;
	border: 1px solid #bfbfbf;
	box-shadow: inset 0 0 2px 2px #f7f7f7;
	-moz-box-shadow: inset 0 0 2px 2px #f7f7f7;
	-webkit-box-shadow: inset 0 0 2px 2px #f7f7f7;
}
h2.trigger span {
	text-decoration: none;
	display: block;
	color:#676767;
	background: url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/h2_trigger_a.png);
	background-repeat:no-repeat;
	background-position:0px 2px;
	padding-left:25px;
	cursor:pointer;
}
h2.active{background-color:#e5e5e5;
	box-shadow: inset 0 0 2px 2px #ececec;
	-moz-box-shadow: inset 0 0 2px 2px #ececec;
	-webkit-box-shadow: inset 0 0 2px 2px #ececec;
}
h2.active span{background-position:0px -12px !important;}
h2.trigger a:hover {
	color: #454545;
}
h2.active {background-position: left bottom;}
.toggle_container {
	margin: 0 0 5px;
	padding: 0;
	overflow: hidden;
	width: 560px;
	clear: both;
}
.toggle_container .block {
	padding: 10px;
}
.toggle_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}




/* Testimonial  */
.ts-testimonial-clr{clear:both;}
.ts-testimonial-clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
.ts-testimonial-hidden{
	display:none;
}
.ts-testimonial-quote{
	font-style:italic; font-size:14px; background-image:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/quote.png); background-repeat:no-repeat; margin:0; padding:10px 0 0 40px
}
.ts-testimonial-thumb{
	padding:2px;
	border:1px solid #cacaca;
	float:left;
	width:97px;
	margin-right:28px;
}

.ts-testimonial-list{
	padding-left:0px;
	margin-left:0px;
	clear:both;
}
.ts-testimonial-list li{
	list-style-type:none;
	list-style-position:outside;
	margin-bottom:20px;
	margin-right:2%;
	float:left;
}
.ts-testimonial-list li.nomargin{
	margin-right:0px;
}
.ts-testimonial-textinfo{
	margin:13px 0px;
	color:#999
}
.ts-testimonial-name{
	margin-right:0;
}
.ts-testimonial-info{ 
	font-weight:normal;
	margin-right:10px;
}
.ts-testimonial-quote .header{
	margin-bottom:10px;
	display:block;
	font-weight:bold;
	font-size:14px;
}
.ts-testimonial-quote a.header:hover{
	text-decoration:none;
}

/*  Portfolio*/
.ts-portfolio-clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
#ts-portfolio h2{margin:0px 0px 7px 0px; text-transform:none; font-size:20px;  line-height:24px; }
#ts-portfolio p{}
#ts-portfolio a.displaymore, .ts-portfolio-list a.displaymore:visited{ font-size:11px;}
#ts-portfolio a.displaymore:hover{text-decoration:none}
#ts-portfolio .separator.line {height:80px;margin-bottom:0px}
.ts-portfolio-list{list-style-type:none; padding:0; margin:0; clear:both;}
.ts-portfolio-list li{list-style-type:none; padding:0; margin-top:0px; margin-left:0px; width:290px;  float:left}
.ts-portfolio-list li.nomargin{margin-right:0;}
.ts-portfolio-list a.image{
	display:block;
}
.ts-portfolio-list .ts-portfolio-text-content{margin-top:20px;}
.ts-portfolio-text-content p{margin-bottom:20px;}
.ts-portfolio-img-container .rollover{
	background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/hover-zoom.png) !important;
	background-repeat:no-repeat !important;
	background-position:center !important;
	background-color:#282828 !important;
	width:100% !important;
	height:100% !important;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}
.ts-portfolio-img-container .rollover.gotolink{
	background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/hover-link.png) !important;
	background-repeat:no-repeat !important;
	background-position:center !important;
	background-color:#282828 !important;
	width:100% !important;
	height:100% !important;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}
.ts-portfolio-img-container .rollover.gotopost{
	background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/hover-doc.png) !important;
	background-repeat:no-repeat !important;
	background-position:center !important;
	background-color:#282828 !important;
	width:100% !important;
	height:100% !important;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}

/* ts display 1 column */
#ts-portfolio ul.ts-portfolio-list.ts-portfolio-col-1 li{
	width:100% !important;
	margin:3px 0px 30px 0 !important;
	padding-bottom:30px!important;
	border-bottom:1px solid #e9e9e9;
}

#ts-portfolio ul.ts-portfolio-list.ts-portfolio-col-1 li:last-child{padding-bottom:0; background:none;}

.ts-portfolio-col-1 .ts-portfolio-img-container{

	float:left;
	margin-top:5px;
	margin-right:15px;
}

#ts-portfolio ul.ts-portfolio-list.ts-portfolio-col-1 li h2{ font-size:13px;}

.ts-portfolio-col-1 .ts-portfolio-img-container a.image{

	display:block;
	position:relative;
}

.ts-portfolio-col-1 .ts-portfolio-text-content{
	float:left;
	width:70%;
	margin-top:0px !important;
}

.ts-portfolio-col-1 .ts-portfolio-text-content .displaymore{background:url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/arrow.gif) no-repeat right 5px; padding-right:12px; color:#2b292d;}	
.ts-portfolio-col-1 .ts-portfolio-text-content .displaymore:hover{}


/* ts display 2 column */
#ts-portfolio ul.ts-portfolio-list.ts-portfolio-col-2 li{
	width:434px !important;
	margin:0 55px 50px 0 ; 
	float:left;
}
.ts-portfolio-col-2 .ts-portfolio-img-container{
	width:434px;
	height:244px;
    
}
.ts-portfolio-col-2 .ts-portfolio-img-container a.image{
	width:434px;
	height:244px;
	display:block;
	position:relative;
}
.ts-portfolio-col-2 .ts-portfolio-text-content{
	margin-top:15px !important;
}
.ts-portfolio-col-2 .ts-portfolio-text-content .displaymore{}	

/* ts display 3 column */
#ts-portfolio ul.ts-portfolio-list.ts-portfolio-col-3 li{
	width:274px !important;
	margin:0 50px 50px 0; 
	float:left;
}
.ts-portfolio-col-3 .ts-portfolio-img-container{
	width:281px;
	height:166px;
}
.ts-portfolio-col-3 .ts-portfolio-img-container a.image{
	width:281px;
	height:166px;
	display:block;
	position:relative;
}
.ts-portfolio-col-3 .ts-portfolio-text-content{
	margin-top:15px !important;
}
.ts-portfolio-col-3 .ts-portfolio-text-content .displaymore{}	

/* ts display 4 column */
#ts-portfolio ul.ts-portfolio-list.ts-portfolio-col-4 li{
	width:204px !important;
	margin:0 36px 50px 0;
	float:left;
}
.ts-portfolio-col-4 .ts-portfolio-img-container{
	width:204px;
	height:144px;
    
}
.ts-portfolio-col-4 .ts-portfolio-img-container a.image{
	width:204px;
	height:144px;
	display:block;
	position:relative;
}
.ts-portfolio-col-4 .ts-portfolio-text-content{
	margin-top:15px !important;
}
.ts-portfolio-col-4 .ts-portfolio-text-content .displaymore{}	

/* slideshow and client info in single portfolio */
.clienturl{margin-top:-15px;}
#portfolio-gallery #frame-slider-portfolio{width:608px; height:408px; float:left; position:relative; margin-right:30px;}
#portfolio-gallery #frame-slider-portfolio #slider{list-style-type:none; margin:0; padding:0; height:408px; }

#portfolio-gallery #frame-slider-portfolio #slide-nav{position:absolute; left:280px; bottom:-30px; z-index:30; }
#portfolio-gallery #slide-nav a{
	background: url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/but-slide.png) no-repeat scroll 50% 50%;
	display:block;
	float:left;
	font-size:0px;
	width:11px;
	height:11px;
	margin:3px;
	outline-style:none;
	outline-width:medium;
	padding:0px;
	cursor:pointer
}
#portfolio-gallery #slide-nav .activeSlide {background: url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/but-slide-selected.png) no-repeat scroll 0% 50%;}

/* Banner */

.banner-left, .banner-right{ float:left; border:2px solid #cccccc; width:450px; height:179px;  background:no-repeat; position:relative; }
.banner-left{ margin-right:32px;}

div.transbox{
	width:65%;
	background: url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/bg-text-banner.png) repeat ;
	padding:8px 17px 8px 17px;
	margin-bottom:10px;
	margin-top:23px;
  }

div.transbox2{
	width:50%;
	background: url(https://apartmentingrancanaria.gitlab.io/wp-content/themes/hotelclassica/images/bg-text-banner.png) repeat ;
	padding:8px 0px 8px 17px;
  }

.banner-left p{ font-size:24px; color:#191919; line-height:30px; text-transform:uppercase; }

.banner-right p{ font-size:24px; color:#191919; line-height:30px; text-transform:uppercase;  }

.bookingiframe { color:#fff; }
.bookingiframe a:hover { color:#fff }